@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:ital@1&family=Roboto+Condensed:wght@300&family=Roboto+Slab&family=Roboto:wght@500&family=Sofia+Sans+Extra+Condensed&display=swap');
*
{
    margin :0;
    padding: 0;


}
body{
    background-color: rgb(235, 246, 255);
}
#start
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.5rem;
    font-family: 'Roboto Slab', serif;
}
#game
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
#startbtn
{
    margin: 10px auto;
    width: 10%;
    font-size: 1.5rem;
    font-family: 'Roboto Slab', serif;
        padding: 2px 2px;
    border-radius: 10px;
    background-color: rgb(46, 252, 23);

}
#container
{

    margin-top: 1%;
}

.pic
{
    align-items: center;
height: 30px;
width: 30px;
border-radius: 30px;
}
.head
{
    color: black;
    font-size: 1.1rem;
    font-family: 'Roboto Slab', serif;
}
.btncontainer
{
    display: flex;
    justify-content: center;
    margin: 2% 0;
   
    
}
.btn{

    width: 5%;
    height: 6%;
    padding: 5px 0%;
    background-color: rgb(219, 219, 219);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 7px;
    font-weight: bold;
    color: rgb(255, 255, 255);
   
   
}

#p
{
  
    margin: 0px 1%;
}
#r
{
  
    margin: 0px 2%;
}
#s
{
  
    margin: 0px 2%;
}

#box1
{
    display: none;
    justify-content: center;
    align-items: center;
 flex-direction: column;
    width: 250px;
    margin: auto;
    background-color: rgb(236, 236, 129);
    border-radius: 10px;
    margin-bottom: 13px;
    
}
.foot
{
    position: fixed;
    /* padding: 10px 10px 0px 10px; */
    bottom: 0;
    width: 100%;
    
    display: flex;
    justify-content: center;
}
#table
{
    margin-top: 15px;
    width: fit-content;
    margin: auto;
    padding: 2px 5px;
    border: 1px solid black;
    background-color: rgb(255, 255, 255);
    
    margin-bottom: 10px;
}
#result
{
    margin-top: 10px;
    width: fit-content;
    padding: 2px 5px;
    margin: auto;
    color: white;
    /* background-color: rgb(6, 138, 28); */
}

td ,th{
    margin: 0px 1px;
    
    border: 1px solid black;
}

#celebration
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    margin: 40px auto;
}
#regame
{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#reset
{
    
    border-radius: 10px;
    margin: 1% auto;
    font-family: math;
    font-size: 1.2rem;
    padding: 10px 8px;
    background-color: rgb(222, 53, 53);
}